body{
    display:grid;
    justify-content: center;
}

#container{
    display:grid;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(3, 30px);

    width: 300px;
    height: 300px;

    background-color: slategray;

    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);

    justify-items: center;
    align-items: center;

}

p{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}


.buttonCont{
    display:grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 50px;

    align-items: center;
    justify-items: center;

    width: 300px;

}

.reset, .newGame{
    width: 140px;
    height: 50px;
    padding: 0;
    margin: 5px 0 0 0;
    align-content: center;

    border-radius: 5px;
    border: 1px solid slategray;

    font-size: 15px;
}

.cell{
    display: grid;
    background-color: rgb(170, 180, 190);
    width: 90px;
    height: 90px;


    justify-content: center;
    align-items: center;

    font-size: 80px;
    color: white;
}

.cell:hover{
    background-color: rgb(216, 223, 231);

}




.player{

}

.round{
    
}
.playerScore{

}
.aiScore{
    
}